.reveiw-item {
    border: 1px solid #95A0A7;
    border-radius: 8px;
    padding: 8px;
    margin-top: 21px;
    width: 571px;
    display: flex;

}

.reveiw-item img {
    width: 91px;

}

.review-item-details p {
    margin: 0;
}

.review-item-details-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    justify-items: center;
}

.reveiw-item .delete-button {
    background-color: rgb(250, 149, 149);
    border: none;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    cursor: pointer;
}

.reveiw-item .delete-container {
    display: flex;
    align-items: center;
}

.delete-icon {
    color: rgba(235, 87, 87, 1);
    font-size: 27px;

}